@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: pink;
}

#column-2 {
  background: green;
}

#column-3 {
  background: purple;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  .col-3 {
    width: 50%;
    height: 320px;
    float: left;
  }
  header {
    background-color: #FF8C00;
  }

  #column-1 {
    background-color: #FAEBD7;
  }

  #column-2 {
    background-color: #DEB887;
  }

  #column-3 {
    background-color: #FF7F50;
  }

  footer {
    background-color: #D2691E;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  .col-3 {
    width: 33.3%;
    height: 320px;
    float: left;
  }

  header {
    background-color: #E0FFFF;
  }

  #column-1 {
    background-color: #FFF0F5;
  }

  #column-2 {
    background-color: #F0FFF0;
  }

  #column-3 {
    background-color: #FFFACD;
  }

  footer {
    background-color: #FFE4E1;
  }

}
